<!--from https://gist.github.com/fgandiya/a8f91c2b27ec1dac0374a940b438561f-->

<meta name="twitter:site" content="{{ .Site.Title }}">
<meta name="twitter:title" content="{{ .Title }}">
{{ if isset .Params "img" }}
{{ with .Params.img }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ .src }}">
    <meta name="twitter:image:alt" content="{{ .alt }}">
{{ end }}
{{ end }}
{{ if isset .Params "player"}}
{{ with .Params.player }}
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@philip_khor">
    <meta name="twitter:player" content="{{ .player }}">
    <meta name="twitter:title" content="{{ .title }}">
    <meta name="twitter:player:width" content="{{ .width }}">
    <meta name="twitter:player:height" content="{{ .height }}">
    <meta name="twitter:image" content="{{ .image }}">
{{ end }}
{{ end }}
